.card-lists {
    margin-top:100px;
}

.card {
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
    margin: 20px 40px;
}


input {
    border: 1px solid #333;
    font-size: 18px;
    padding: 12px 10px;
    margin: 10px 0;
    width:100%;
}


img {
    width: 100%;
    height: 80%;
}



.tag {
    background:#777;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
}

/*

* {
    box-sizing: border-box;
}


body {
    background: #f7f8fc;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 940px;
    margin: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display:flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    min-height: 180px;
}


.tag {
    background:#777;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
}

/* .card-lists {
    margin-top:100px;
}

.card {
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
    margin: 20px 40px;
}


input {
    border: 1px solid #333;
    font-size: 18px;
    padding: 12px 10px;
    margin: 10px 0;
    width:100%;
}


img {
    width: 100%;
    height: 80%;
}



.tag {
    background:#777;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
}

.card-body {
    padding: 10px 20px;
}

.card-title p{
    font-size:13px;
    margin: 0 0 40px;
} */